@font-face {
    font-family: main;
    src: url(src/font/syne.bold.otf);
} @font-face {
    font-family: submain;
    src: url(src/font/ibmMono.ttf);
} 
/*
BackgroundColor: #2F2F2F
MainColor: #FE392E
*/

body{
    background-color: #2F2F2F;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section{
    margin-top: 130px;
    z-index: 10;
}

.background{
    z-index: -1;
}
.element1{
    position: absolute;
    top: 70px;
    left: 0px;
    z-index: -1;
    animation: scaler 5s infinite alternate;
    transition: all 0.5s ease;
}

.element2{
    position: absolute;
    top: 364px;
    left: 1019px;
    z-index: -1;
    animation: scaler 5s infinite alternate;
    transition: all 0.5s ease;
}


@keyframes scaler {
    0%{
        transform: scale(1.5);
        opacity: 10%;
    }
    
    100%{
        transform: scale(2);
        opacity: 100%;
    }
}




.title{
    color: #FFFF ;
    font-family: main;
    font-size: 90px;
    padding-left: 50px;
}

.inputCont{
    margin-left: 530px;
    margin-top: -138px;
    display: flex;
}

.inputStyle{
    height: 50px;
    width: 350px;
    border-radius: 50px;
    border: solid #4e4e4e 2.5px;
    background-color: #2F2F2F;
    color: white;
    font-family: submain;
    padding-left: 20px; padding-right: 20px;
}

.inputStyle:focus{
    outline: none;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    padding-left: 40px;
}

.bad{
    color: #FE392E;
}

.mid{
    color:#fed82e;
}

.gg{
    color: #2efe51;
}


@media (max-width: 768px) {
    body{
         overflow-wrap: break-word;
    }
   
}